/* Adaptive */


@media screen (max-width:1036px) {

    .content {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        padding-top: 20vh;
        /* padding-bottom: 15vh; */
    }

    footer.indent-footer {
        position: fixed;    
        margin-right: 5vw;
        margin-bottom: 4vh;
    }

}

@media screen (min-width: 256px) and (max-width:768px) {



/* gallery */


    


/* gallery */


    div.row.justify-content-md-between {
        /* padding-top: 25%; */
        /* padding-top: 15vh; */
    }


    nav.tabs-container{

    }

    
    
}

