
.contacts-container{
    padding-top: 5vh;
}

.content div.container-fluid {
    width:100% ;
    margin-right: 10px;
    margin-left: 10px;

}


.text-container {
    width:100%;
    height:auto;
    margin: 0 40px 40px 40px;
    background-color: #5c636a;
}

.ind-contacts {
    margin: 20px;
}

.contact-block {
    width: 90%;
    height: 450px;
    margin: 30px 30px 10px 30px;
    background: #5c636a;
}

.contact-block button:hover {
    color: #dcc874;
    background-color: #150e0e;
}

.contact-block button {
    width: 50px;
    height: 50px;
    background: transparent;
    border: solid 1px #dad87d;
    border-radius: 25px;
    margin: 0 25px;
}
.contact-block button svg {
    width: 40px;
    height: 40px;
}

.contact-block div.col {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
    /*margin-top: 15px;*/
    /*margin-bottom:15px;*/
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    /*height: 45%;*/
    /*background-color: #5c636a;*/
    padding: 20px 20px 20px;

}
.contact-block div.col {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
    /*margin-top: 15px;*/
    /*margin-bottom:15px;*/
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    /*height: 45%;*/
    /*background-color: #5c636a;*/
    padding: 20px 20px 20px;

}


.address {
    margin: 10px 20px 20px 20px;
    /*width: 50%;*/
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*.col div.email {*/
/*    margin-left: 10vw;*/
/*}*/

.email {
    margin: 10px 20px 20px 20px;
    /*width: 50%;*/
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.callus {
    margin: 10px 20px 20px 20px;
    /*width: 50%;*/
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*.col div.social-block {*/
/*    margin-left: 10vw;*/
/*}*/

.loc,.mail,.phones {
    margin: 10px auto;
    text-align: start;
    justify-content: space-around;
    /*align-items:*/
}

/*div.col-md-6 div.address, div.social-block {*/
/*    margin-top: 20px;*/
/*    margin-bottom:20px;*/
/*    margin-left: 20px;*/
/*    margin-right: 20px;*/
/*}*/

/*div.col-md-4 div.email, div.callus {*/
/*    margin-top: 20px;*/
/*    margin-bottom:20px;*/
/*    margin-left: 20px;*/
/*    margin-right: 20px;*/
/*}*/

.maps-block {
    width: 100%;
    height: 450px;
    margin: 10px 10px;
}

.maps-block div.maps-container {
    margin-top: 20px;
    height: fit-content;
}

@media screen  and ( max-width: 768px) {

    .contacts-container{
        padding-top: -7rem;
    }

    
    div.contact-block {
        width: 100%;
        height: 35vh;
        /* margin: 30px 30px 10px 30px; */
        margin: 30px 30px 10px;
        background: #5c636a;
        }
    
        .contact-block button {
            width: 40px;
            height: 40px;
            background: transparent;
            border: solid 1px #dad87d;
            border-radius: 25px;
            margin: 5px 25px;
        }
    
        .contact-block button svg {
            width: 25px;
            height: 25px;
        }
    
        .contact-block div.col {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
            margin: 5px;
            padding: 5px 5px 5px;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
        }
        /* .contact-block div.col {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
            margin: 7px;
            padding: 5px 5px 5px;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
        } */
        .address {
            margin: 5px 5px 5px 5px;
            /* width: 50%; */
            height: 15vh;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .email {
            margin: 5px 5px 5px 5px;
            /* width: 50%; */
            height: 15vh;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .callus {
            margin: 5px 5px 5px 5px;
            /* width: 50%; */
            height: 15vh;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .social-block {
            margin: 5px 5px 5px 5px;
            /* width: 50%; */
            height: 15vh;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .maps-block {
            width: 100%;
            height: 55vh;
            padding: 20px 20px;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            align-items: center;    
            display:flex;
            /* margin: 0; */
        }
    
        .maps-block div.maps-container {
            margin: 0 auto;
            width: 100%;
            margin-bottom: 5vh;
    
        }
    
        iframe {
            border: 0;
            height: 50vh;
            padding-bottom: 10vh;
            width: 100%;
        }

}
    