/* Header */


.navigation {
    z-index: 2;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}
.hamburger {
    visibility: hidden;
}

button.hamburger {
    height: 50px;
    width: 50px;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
    background-color: #5ec5f7;

}
.hamburger:hover {
    opacity: 0.7; 
}
.hamburger.is-active:hover {
    opacity: 0.7; 
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000; 
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
    bottom: 5px;
    right: 5px;

    z-index: 2;

}

.hamburger-inner {
    /* display: block; */
    top: 50%;
    margin-top: -2px; 
    display: inline-block;
    z-index: 2;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}
.hamburger-inner::before {
    top: -10px; 
}
.hamburger-inner::after {
    bottom: -10px; 
}

div#navbarSupportedContent.collapse.navbar-collapse {
    /* height: 7vh; */
    /* z-index: 10;
    text-align: center;
    align-content: flex-end;
    align-items: center;
    flex-wrap: wrap; */
}

/* .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    z-index:100;
} */



.no-x-pad-xs {
    padding:0 15px;
    z-index: 2;
    }




/*navbar-toggle*/
.fixed-top {
    position: fixed;
    top: 3vh;
    right: 0;
    left: 0;
    z-index: 1030;
}


.nav-item{
    padding: 5px 5px 0 5px;
    /* margin: 0 5vw 0 0; */
}


.navbar-light .nav-item .nav-link{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    color: #150e0e;
    padding: 0 5px 10px 5px;
    border-bottom:3px solid transparent;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

   
ul.dropdown-menu {
    /* margin: 0 0 0 -2vw; */
    z-index: 1000;
    display: none;
    /* min-width: 10rem; */
    /* padding: 0.5rem 0; */
    /* margin: 0; */
    font-size: 1rem;
    /* color: #212529; */
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform .3s;
    display:none;
    visibility: hidden; 
    z-index:-1;
}


/* 
.dropdown-menu.show  li.nav-item.fade {
    display: block;
    visibility: visible;
    z-index: 5;
    background-color: #2121217d !important;
    position: inherit; 
}

.dropdown-menu a.nav-link.dropdown-toggle.show  {
    display: block;
    visibility: visible;
    z-index: 5;
    background-color: #2121217d !important;
    position: inherit;
}

.dropdown-menu a.nav-link.dropdown-toggle.show > li.nav-item.fade {
    margin: 0;

} */

.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    z-index: 5;
    background-color: #2121217d!important;
    position: absolute;
    /* left: 50%; */

}

    .dropdown-menu.show {
        display: block;
        visibility: visible;
        z-index: 5;
        background-color: #2121217d !important;
        position: inherit; 
    }

.dropdown-item:hover, .dropdown-item:focus {
    color: #1e2125;
    font-size: 20px;
    border-radius: 25px; 
    background-color: #ffea8b;
    /*visibility: visible;*/
    /*display:block; */
}

.dropdown-item {
    font-size: 18px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.dropdown-menu .dropdown-item:active {
    background-color: #ffea8b;
}


.dropdown-menu .dropdown-item:hover {
    /*color: #ffea8b;*/
    color: #150e0e;
}

.dropdown-menu .dropdown-item:active {
    /* color: #ffea8b; */
    color: #150e0e;
}

.navbar-nav.mx-auto {
    font-size: 16px;
}

.navbar-light .nav-item:hover .nav-link {
    /*border-color: #dcc874;*/
    border-color: #000;
    color: #ffea8b;
}
.navbar-light .nav-item:active .nav-link {
    /*border-color: #dcc874;*/
    border-color: #000;
    color: #ffea8b;
}

.dropdown-menu{
    border: 1px solid transparent;
}

.navbar-nav.mx-auto {
    text-align: center;
}

.feedback-link {
    vertical-align: middle;
    align-items: center;
    align-content: center;
    align-self: center;
}

.no-x-pad-xs {
    padding: 0 30px;
    z-index: 2;
}
.btn-feedback {
    background-color:transparent;
    border-radius: 50%;
    border: 1.5px solid black;
    margin: 2px 5px;
    height:35px;
    width:35px;
    text-align:center;
    align-content: center;
}

.btn-feedback:hover{
    background-color:#150e0e;
    color: #ffea8b;
    border-color: #25cff2;
    box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}

.botButton.active {
    background-color: #31d2f2;
    border-color: #25cff2;
    box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}
.botButton.focused {
    background-color: #31f2f2;
    border-color: #25cff2;
    box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}
/* 
.btn-check:focus + .botButton, .botButton:focus {
    color: #000;
    background-color: #31d2f2;
    border-color: #25cff2;
    box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
} */
/* .btn-check:checked + .botButton, .btn-check:active + .botButton, .botButton:active, .botButton.active, .show > .botButton.dropdown-toggle {
    color: #000;
    background-color: #3dd5f3;
    border-color: #25cff2;
    } */

/*.modal-backdrop {*/
/*    z-index: 1;*/
/*}*/

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    /*background-color: #000;*/
    /*background-color: rgba(17, 17, 17, 0.9);*/
    background-color: rgba(17, 17, 17, 0.1);


}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: rgba(17, 17, 17, 0.9);
}



.modal-content {
    background-color: #e9cd57;
}

@media screen and (max-width: 768px) {

    .dropdown:hover .dropdown-menu {
        position: inherit;
        /* display: block;
        visibility: visible;
        z-index: 5;
        background-color: #2121217d!important; */
    
    }
/* 
    .navbar-brand {
        display: flex;
        justify-content:flex-start;
        align-content: center;
        z-index: 20;
        flex-grow: 0;
    } */

    .navbar-light .nav-item:active .nav-link {
        border-color: #dcc874;
        /* border-color: #000; */
        border: none;
        color: #ffea8b;
    }    
    .navbar-light .nav-item:hover .nav-link {
    border-color: #dcc874;
    border: none;
    /* border-color: #000; */
    color: #ffea8b;
    }

    .dropdown-menu.show {

    }

}