
/* Modal */

.vmodal {
    margin-top: 10vh;
}

.vmodal.open .vmodal-overlay,
.vmodal.open .vmodal-window {
    opacity: 1;
    z-index: 1030;
}

.vmodal.hide .vmodal-overlay,
.vmodal.hide .vmodal-window {
    opacity: 0;
    z-index: -1;
}

.vmodal.open .vmodal-window {
    transform: translateY(0vh);

}

.vmodal.open .vmodal-overlay {
    /* transition:visibility(visible) ; */
    background: rgba(0, 0, 0, .6);
    visibility: visible;


}

.vmodal.hide .vmodal-window {
    transform: translateY(-50vh);
    transition:background .3s ease-in-out;


}

.vmodal.hide .vmodal-overlay {
    /* transition:visibility(visible) ; */
    background: rgba(0, 0, 0, 0);
    /* visibility: hidden; */
    transition:background .5s ease-in-out;


}

.vmodal-window, .vmodal-overlay {
    opacity: 0;
    z-index: -1;
}

.vmodal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, .6); */
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    /* transition:visibility(hidden) .3s ease-in-out; */
    transition:background .5s ease-in-out;
}

.vmodal-window {
    position: fixed;
    left: 10%;
    top: 10%;
    right: 10%;
    bottom: 10%;
    width: 80%;
    background: rgb(210, 230, 39);
    border-radius: 5px ;
    height: 80%;
    overflow-y:auto;
    margin: 0 auto;
    /* z-index: 1030; */
    transform: translateY(-100vh);
    transition: transform .3s ease-in-out;
}

/* .show-modal {
    visibility:visible;
} */

.vmodal-title {
    position: absolute;
    top: 5vh;
    left: 20vw;
}
.vmodal-caption {
    background-color: gold;
    padding: 5px 5px;
    border-radius: 15px;
}

/* .vmodal-window:hover {
    overflow-y:auto;
} */

/* .vmodal-header {
    display: flex;
    justify-content: flex-end;
} */

.modal-close {
    position:fixed;
    top: 15%;
    right: 15%;
}

span.modal-close {
    height:60px;
    width:60px;
}

.vmodal-body {
    margin: 0 auto;
    padding: 15px;
    background-color: black;
}

.vmodal-body h1 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}
.vmodal-body p {
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(185, 196, 30);
}






/* .vmodal-controlls {
    position: static;
    right: 5%;
    top: 5%;
    height:80px;
    width:80px;
    z-index: 1030;
}  */


.open-vmodal {
    position: fixed;
    right: 50%;
    top: 50%;
    height:60px;
    width:60px;
    border-radius: 50%;
    border:none;
    color: black;
    /* visibility: hidden; */

}

/* .open-vmodal > i.bi.bi-door-open {
    border-radius: 50%; 
    height:30px;
    width:30px;
} */



.open-vmodal > svg {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 3px;
    /* margin: 0; */ 
}




.close-vmodal {
    position: fixed;
    right: 4%;
    /* right: 10%; */
    top: -10%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    color: black;
    visibility: hidden;
    
}

.close-vmodal.active {
    position: absolute;
    z-index: 1030;
    /* top: 5%; */
    top: 6%;
    right: 8%;
    transition: transform .5s ease-in-out

    /* opacity: 0; */

}


i.bi.bi-x-circle {
    border-radius: 50%;
    height:60px;
    width:60px;
    padding: 10px;
    margin: 0;
}

.close-vmodal > svg {
    position: relative;
    border-radius: 50%;
    height:60px;
    width:60px;
    padding: 3px;
    /* margin: 0; */
}

.close-vmodal.active > svg {
    /* opacity: 0; */
    z-index: 900;
    /* opacity: 1;   */
}

.close-vmodal > svg {
    position: fixed;
    border-radius: 50%;
    top: inherit;
    right: inherit;
    height: 60px;
    width: 60px;
    padding: 3px;
    /* margin: 0; */
}

.close-vmodal > svg:hover,
.open-vmodal > svg:hover {
    color: gold;
    background-color: black;
}

.open-vmodal::after{
    position:fixed;
    top: 3%;
    right:3%;
}
.open-vmodal::before{
    position:fixed;
    top: 3%;
    right:3%;
}


/* .close-vmodal::after{
    position:fixed;
    top: 3%;
    right:3%;
    z-index: 1030;
}
.close-vmodal::before{ 
    position:fixed;
    top: 3%;
    right:3%;
    z-index: 1030;
} */


@media screen and (max-width: 768px ) {
    
    .close-vmodal > svg {
        position: fixed;
        border-radius: 50%;
        top: inherit;
        left: inherit;
        height: 60px;
        width: 60px;
        padding: 3px;
        /* margin: 0; */
    }
    .close-vmodal.active {
        position: absolute;
        z-index: 1030;
        /* transform: translateX(0px) translateY(0px); */
        left: 45%;
        top: 91%;
        /* opacity: 0;
    }
    }