
.wrapper {
    padding:30px;
    min-height:100%;
}
/* .title {
    font-size:30px;
    font-weight: 700;
    color: #fff;
    margin: 0, 0, 30px 0 ;
} */

.image-slider {
    padding: 30px 0 70px 0;
}

.image-slider__wrapper {

}

.image-slider__slide {

}

image-slider__image {
    text-align: center;
}

.image-slider__image img {
    max-width: 100%;
}
/* 
.parallax-bg {
    background-image: url('https://images.unsplash.com/photo-1641911470539-59661812d315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80')
} */

.title {
    font-size:30px;
    font-weight: 700;
    color: rgb(22, 20, 20);
    margin: 0, 0, 30px 0 ;
    position: absolute;
    top: 30vh;
    left: 45vw;
    font-weight: bold;
    letter-spacing: 0.03em;
} 

.subtitle {
    font-size:30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 0, 0, 30px 0 ;
    position: absolute;
    top: 35vh;
    left: 45vw;
}

.text {
    font-weight: 700;
    color: rgb(5, 5, 5);
    margin: 0, 0, 30px 0 ;
    position: absolute;
    top: 40vh;
    left: 50vw;
    max-width: 640px;
    font-size: 14px;
    line-height: 1.4;
} 

.swiper-slide-content {
    /* width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 48px 48px;
    align-items: center;
    justify-content: center;
    text-align: center; */
}

/* .swiper-slide-title {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.swiper-slide-text {
    max-width: 640px;
    font-size: 14px;
    line-height: 1.4;
} */

.swiper-slide-title + .swiper-slide-text {
    /* margin-top: 8px; */
}

.swiper-slide img {
    background-blend-mode: multiply;
    background-color:#61dafba1;
    color: aqua;
}

.swiper-slide-image {
    /* background-blend-mode: multiply;
    background-color:#61dafba1;
    opacity: .4; */
}

@media  screen and (max-width: 768px) {

    .title {
        position: absolute;
        top: 20vh;
        left: 15vw;
    }

    .subtitle {
        top: 25vh;
        left: 35vw;
    }
    
    .text {
        top: 45vh;
        left: 40vw;
    }
}