/* Swiper */

.swiper {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* 
.swiper-wrapper {
    position: ;
    top: 0;
    margin-top: -15vh;
} */
.swiper-slide .first-slide,
.second-slide,
.third-slide {
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size:cover;*/
}
.swiper-slide div.container {
    margin-top: 38vh;
}
.text-content {

}
.slider-text {
    text-align: center;
    text-decoration: black;
    font-weight: bold;
    font-size: 35px;
}

.swiper-slide.first-slide{
    height: 100vh;
    background-image: url("../img/carousel/ph4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /*margin: 0 10vw ;*/
}

.swiper-slide.second-slide{
    height: 100vh;
    background-image: url("../img/carousel/ph5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /*margin: 0 10vw ;*/
}

.swiper-slide.third-slide{
    height: 100vh;
    background-image: url("../img/carousel/ph6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /*margin: 0 10vw ;*/
}

div.swiper-button-prev::after {
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-left: 5vw;
}
div.swiper-button-next::after {
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-right: 5vw;
}
.swiper-button-next, .swiper-button-prev{
    position: absolute;
    top: 50%;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 50%;
        z-index: 10;
        display: none;
    }
}