/* Object */


h1.text-center {
    padding-bottom: 5vh;
}




div.container-tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 80vw;
    padding:10px




div.col-3.col-md-2 {
    /* margin:5px 55px 5px 55px; */
    
}

div.col-md-2 {
    width: 33%;
    padding: 15px 15px;
}




div.service-img {
    padding: 10px;
}

img.obj-img {
    vertical-align: top;
    /* transform: scale(1.2);  */
    position: relative;

    width: 250px;
    height: 150px;
    /* width: 75%;
    height: 95%; */
}

div.service_el {
    width:  auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.service_title {

}







a#nav-profile-tab,
a#nav-home-tab,
a#nav-contact-tab,
.nav-tabs.nav-link {
    color: #150e0e;
    /*background: transparent;*/
}

.nav-tabs {
    flex-direction: column;
}

a#nav-profile-tab.nav-link.active {
    /*background: #84df67;*/
    background: #ffea8b;
}
a#nav-home-tab.nav-link.active {
    /*background: #84df67;*/
    background: #ffea8b;

}
a#nav-contact-tab.nav-link.active {
    /*background: #84df67;*/
    background: #ffea8b;
}



a#nav-profile-tab,
a#nav-home-tab,
a#nav-contact-tab,
.nav-link.active {
    /*background: #84df67;*/
    background: transparent;

}

a#nav-profile-tab:hover,
a#nav-home-tab:hover,
a#nav-contact-tab:hover {
    background: #ffea8b;
    /*color: darkblue;*/

}
.nav.nav-tabs.fixed-bottom {
    margin-bottom:25rem;
}


.nav-tabs {
    border: none;
    justify-content: flex-end;
    margin-bottom: 2rem;
}


a.hover-link {
    cursor: pointer;
    position: absolute;
    top: 57%;
    width: 15%;
    height: 11%;
}

@media (width < 768px) {

    div.tab-pane.fade.active.show {
        /* display: grid;
        grid-template-columns: 150px 150px 150px;
        /* grid-template-rows: 1fr 1fr 1fr; */
        /* grid-template-rows: 250px 250px 250px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: stretch;
        align-items: stretch; */ 
    }
/* 
    div.col-md-3 {
        flex: 0 0 auto;
        width: 30%;
    }

    div.service_el {
        max-width: 230px;
        padding: 15px;
    }



    div.in {
        height: 120px;
        overflow: hidden;
        position: relative;
        border-bottom: 3px solid #ffdb06;
        line-height: 80px;
        margin-bottom: 20px;
    } */

    /* img.obj-img {
        transform: translateY(-40%) scale(2.5);
        position: relative;
        top: 30%;
        left: 65%;
        vertical-align: top;
        height: 85%;
        width: 85%;
    } */

    /* div.service_title {
        font-size: 16px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ffd400;
        display: inline;
        line-height: 24px;
    }


    h1.text-center {
        padding-bottom: 0;
    }

    a#nav-profile-tab, a#nav-home-tab, a#nav-contact-tab, .nav-link.active {
        font-size: 20px;
    }
    .nav-tabs {
        text-align: center;
        display: flex;
        border: none;
        margin-bottom: 2rem;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        flex-direction: row;
    } */




}