.nav-link:hover .dropdown-menu {
    display: block;
    visibility: visible;
    z-index: 5;
    position: absolute;
    border: none;
    left: 35vw;
    top: 0;
}

@media screen and (max-width: 767px) {
    /* .dropdown-item {

    } */


    .collapsed-menu.open > .navbar-nav {
        position: relative;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        margin-top: 20vh;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .botButton {
        left: 15vw;
        position: absolute;
    }

    .nav-btn:hover.dropdown-toggle .dropdown-menu {
        display: block;
        visibility: visible;
        z-index: 5;
        position: absolute;
        border: none;
        left: 35vw;
        top: 0;
    }
    .dropdown:hover .dropdown-menu {
        display: none;
        visibility: visible;
        z-index: 5;
        position: absolute;
        border: none;
        left: 35vw;
        top: 0;
    }

    
}